/* 
.carousel .control-dots {
    position: absolute;
    bottom: 374px;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.carousel .control-dots .dot {
    transition: opacity .25s ease-in;
    opacity: .3;
    filter: alpha(opacity=30);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 90%);
    background: skyblue;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;
} */
.btn{
    width: 380px;
    height: 80px;  
    font-size: medium;   
    border-radius: 5px;
}

.btn_next{
    width: 380px;
    height: 80px;  
    font-size: medium;   
    border-radius: 5px;
    background-color: #15b1ff;
    border: 1px solid #15b1ff;
    color: white;
}
.btn_skip {
    width: 380px;
    height: 80px;  
    font-size: medium;   
    border-radius: 5px;
    border: 1px solid #849097;
    border: 1px solid transparent;
    color: black;
    
}

.img {
    position: absolute;
    inset: 0px;
    width: 73%;
    margin-left: 55px;
   
}

.main {
    height:950px;
    width: 450px;
    border-radius: 6px;;
}

.divButton {
    background-color: #15b1ff; 
    border: 1px solid #15b1ff;
    height:4px;
    width: 4px;
    border-radius: 3px;
}

