.btn{
    width: 380px;
    height: 80px;  
    font-size: medium;   
    border-radius: 5px;
}

.btn_next{
    width: 380px;
    height: 80px;  
    font-size: medium;   
    border-radius: 5px;
    background-color: #15b1ff;
    border: 1px solid #15b1ff;
    color: white;
}
.btn_skip {
    width: 380px;
    height: 80px;  
    font-size: medium;   
    border-radius: 5px;
    border: 1px solid #849097;
    border: 1px solid transparent;
    color: black;
    
}

.img {
    position: absolute;
    inset: 0px;
    width: 73%;
    margin-left: 55px;
   
}

.main {
    height:850px;
    width: 450px;
    border-radius: 6px;;
}

.divButton {
    background-color: #15b1ff; 
    border: 1px solid #15b1ff;
    height:4px;
    width: 4px;
    border-radius: 3px;
}

